# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.lastfm-dataset-1K/

lastfm-dataset-1K/userid-logs.tsv
lastfm-dataset-1K/userid-profile.tsv
lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv

cover_MLNS.jpg
lastfm-dataset-1K/user_id_logs_v2.tsv
saved_data/train_user_top_logs.tsv
